{% extends 'base.html' %}

{% load static %}

{% block head_title %}Fitia - Inicio{% endblock %}

{% block html_class %}h-full{% endblock %}
{% block body_class %}h-full{% endblock %}

{% block content %}
<div class="min-h-full flex flex-col justify-center background">
  <div class="w-full max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
    <div class="bg-white overflow-hidden shadow rounded-lg">
      <div class="px-4 py-5 sm:px-6">
        <div class="flex items-center justify-center space-x-4">
          <img class="w-auto h-16" src="{% static 'svg/fitia_redondo.svg' %}" alt="" />
          <img class="w-auto h-8" src="{% static 'svg/fitia_texto.svg' %}" alt="" />
        </div>
      </div>

      {% if found %}
      <div class="px-4 py-5 sm:p-6">
        <div class="space-y-8">
          <div class="flex flex-col items-center">
            <p class="text-lg">Tu {{ type }} es de:</p>
          </div>
          <div class="flex flex-col items-center space-y-2">
            <p>{{ meal.total_calories }} kcal</p>
            <p>{{ meal.total_proteins }}g proteínas</p>
            <p>{{ meal.total_carbohydrates }}g carbohidratos</p>
            <p>{{ meal.total_fats }}g grasas</p>
          </div>
          <div class="flex flex-col items-center space-y-4">
            {% for item in meal.items %}
            <div class="w-full max-w-sm">
              <div class="bg-white border rounded-lg shadow px-5 py-4">
                <div class="flex flex-row justify-between">
                  <div class="flex flex-row items-center">
                    <p>{{ item.name }}</p>
                  </div>
                  <div class="flex flex-col items-end space-x-1">
                    {% if item.quantity == 1 %}
                    <p>{{ item.quantity }} porción</p>
                    {% else %}
                    <p>{{ item.quantity }} porciones</p>
                    {% endif %}
                    <p>{{ item.calories|floatformat:0 }} kcal</p>
                  </div>
                </div>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
      {% else %}
      <div class="px-4 py-5 sm:p-6">
        <div class="flex flex-col items-center">
          <p>No se encontró una comida ideal.</p>
        </div>
      </div>
      {% endif %}

      <div class="px-4 py-4 sm:px-6">
        <div class="flex justify-center">
          <a href="/"
            class="text-white font-medium text-lg bg-amber-400 rounded-full px-8 py-3 hover:bg-amber-500 transition duration-200 ease-in-out">
            Calcular otra comida
          </a>
        </div>
      </div>

    </div>
  </div>
</div>
{% endblock %}